.titulo{
    color: rgb(0, 0, 0);
}
.email{
    background-color: rgb(59, 46, 177);
    border: papayawhip;
    border-radius:5px;
}
.senha{
    background-color: rgb(59, 46, 177);
    border: papayawhip;
    border-radius:5px;
}
.entrar{
background-color: rgb(255, 252, 252);
}
body{ 
    background-color: hsl(240, 64%, 58%);
}