.titulo{
    color: rgb(150, 150, 150);
     text-align: center;
     margin-top: 10px;
}
.email{
    background-color: rgb(59, 46, 177);
    border: papayawhip;
    border-radius:5px;
text-align:center
}
.senha{
    background-color: rgb(59, 46, 177);
    border: papayawhip;
    border-radius:5px;
text-align: center;
}
.entrar{
background-color: rgb(255, 252, 252);
text-align: center;
}
body{ 
    background-color: hsl(240, 64%, 58%);
}
.context{
    background-color: rgb(0, 2, 102);
    width: 400px;
    height: 400px;
    margin: auto;
    margin-top: 150px;
    border-radius: 10px;
}
.entrar{
    background-color: rgb(122, 112, 255);
    border: rgb(42, 63, 255);
    border-radius:5px;
    text-align: center;
    width: 100px;
    height: 30px;
    margin-left: 150px;
    margin-top: 100px;
}
.email, .senha{
    width: 300px;
    height: 30px;
    margin-left: 50px;
    margin-top: 20px;
}